// Functions
@function rem($pixel) {
  @return $pixel / 16 * 1rem;
}

// Custom properties
// :root {
//   --black: #010101;
//   --white: #dbdbdb;
// }

// Placeholders
%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

%roboto-flex {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 100,
    'GRAD' 0,
    'XTRA' 468,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

// Elements
.block {
  @extend %roboto-flex;
//   background-color: var(--white);
  color: var(--white);
}

.block h1 {
  font-size: clamp(#{rem(64)}, 17vw + -4.375rem, #{rem(100)});
  font-weight: 600;
  text-align: center;
}

.block ul {
  @extend %list-reset;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: rem(16);
}

.block li {
  background-color: aliceblue;
  height: 200px;
  width: 100%;
}

.block img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

// Objects
.o-page {
  max-width: 100vw;
  overflow: hidden;
}

.o-main {
  margin: 0 rem(16);
}

.o-container {
  margin: 0 auto;
  max-width: rem(1000);
}

// Components
.art__link {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    background-color: var(--black);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
  }

  &::before {
    height: 1px;
    width: 100%;
  }

  &::after {
    height: 100%;
    width: 1px;
  }
}

.art__img {
  transform: scale(1.1);
  transition: all 0.3s ease-out;

  .art__link:hover & {
    filter: blur(3px);
    transform: scale(1.25);
  }
}

.art__title {
  color: var(--white);
  font-size: rem(18);
  left: rem(16);
  position: absolute;
  top: rem(16);
  opacity: 0;
  transform: translateY(#{rem(6)});
  transition: all 0.3s ease-out;
  visibility: hidden;
  width: calc(100% - #{rem(32)});

  .art__link:hover & {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.art__author {
  bottom: rem(16);
  color: var(--white);
  font-size: rem(14);
  opacity: 0;
  position: absolute;
  right: rem(16);
  text-align: right;
  transform: translateY(#{rem(6)});
  transition: all 0.3s ease-out;
  visibility: hidden;
  width: calc(100% - #{rem(32)});

  .art__link:hover & {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.art__title,
.art__author {
  .art--light & {
    color: var(--black);
  }
}
