.main {
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
  padding: 10px 0;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
  width: 500px;
}

.gridItem {
  background-color: rgb(216, 212, 218);
  width: 150px;
  height: 280px;
}
